* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -ms-ime-align: center;
    text-align: center;
}

h1 {
    text-align: justify;
}
h3 {
    text-align: justify;
}

header {
    border: 1px solid black;
    width: 100vw;
    height: 150px;
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    padding: 20px;
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
    width: 600px;
    text-align: center;
    color: white;
}

.empresa {
    padding: 40px;
    font-size: 40pt;
    font-family: 'Courier New', Courier, monospace;
    width: 800px;
    text-align: center;
    color: white;
}

#descricao {
    border: 2px;
    border-style: solid;
    border-color: black;
    padding: 80px;
    margin: 10px 67px;
}

nav {

    padding: 20px;
    font-size: 15pt;
    font-family: 'Courier New', Courier, monospace;
    width: 600px;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: justify;
}

nav li {
    list-style: none;
    margin: 10px;
    display: inline;
}

nav li a {
    padding: 5px 10px;
    margin: 0;
    border: 0px solid black;
    background: green;
    text-decoration: none;
    color: #FFF;
}

nav li a:hover {
    background: #CCC;
    color: #000;
    border-color: #000;
}
.servicos {
    text-align: center;
}

.serv {
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: 13pt;
    border: 1px solid;
    text-align: center;
}
    #contato {
        margin-left: 35px;
    }
    form {
        text-align: left;
        margin-left: 35px;
        font-size: 15pt;
    }
    #rodape{
        border: 1px solid black;
        width: 100vw;
        height: 150px;
        background-color: green;
        display: flex;
    justify-content: space-around;
    align-items: center;
        
    }
    .rod{
        margin: 10px;
        font-size: 13pt;
        border-collapse: collapse;
        width: 100%;
        padding: 10px;
    border-bottom: 1px solid green;
    align-items: start;
    
    }
    .rod td {
        text-align: left;
    }
    #rodape a{
    background: green;
    text-decoration: none;
    color: white;
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
    align-items: end;
    }
    #rodape a:hover {
        background: white;
        color: black;
        border-color: black;
    }